@import "container.scss";
@import "tags.scss";
@import "position.scss";
@import "header.scss";
@import "footer.scss";
@import "fonts.scss";
@import "mobile.scss";

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


